In [1]:
import pandas as pd
import numpy as np
import spacy
from collections import Counter
import os
import threading
from multiprocessing import Process
import time
import pandas as pd
import numpy as np
import requests
import json
import time
import difflib
from sqlalchemy import create_engine
import json

In [2]:
engine = create_engine('postgresql://postgres:securep@sshere@192.168.0.11:5432/robotLectura')
#engine = create_engine('postgresql://postgres:securep@sshere@192.168.0.22:5432/robotLectura')

In [3]:
df_db_num_credito = pd.read_sql('''
    Select demanda.id_demanda, dato_relevante.num_credito, demanda.cod_demanda
    from demanda 
    inner join documento_procesado on demanda.id_demanda=documento_procesado.id_demanda
    inner join dato_relevante on documento_procesado.id_documento_procesado=(dato_relevante.id_documento_procesado)
''', engine)
df_db_num_credito = df_db_num_credito.sort_values(by=['id_demanda'])
print(df_db_num_credito.shape)
df_db_num_credito.head(2)

(471, 3)

    id_demanda num_credito  cod_demanda
70         352  3109079986           13
79         354  1109209752           26

In [4]:
def get_cod_demanda(num_credito):
    df_db = pd.read_sql('''
        Select demanda.id_demanda, dato_relevante.num_credito, demanda.cod_demanda
        from demanda 
        inner join documento_procesado on demanda.id_demanda=documento_procesado.id_demanda
        inner join dato_relevante on documento_procesado.id_documento_procesado=(dato_relevante.id_documento_procesado)
        where dato_relevante.num_credito=\''''+str(num_credito)+'\''
    , engine)
    return (df_db.iloc[0]['cod_demanda'])

In [5]:
def leer_escritura(cod_demanda, num_credito):
    where = ""
    if cod_demanda is not None:
        where = "and demanda.cod_demanda="+str(cod_demanda)
    elif num_credito is not None:
        where = "and demanda.cod_demanda="+str(get_cod_demanda(num_credito))
    command = ('''
        Select demanda.id_demanda, id_cat_tipo_demanda, demanda.cod_demanda, documento_procesado.id_documento_procesado, documento_procesado.json_datos_fundamentales, documento_procesado.enlace_documento, pagina_procesada.numero_pagina, pagina_procesada.texto_procesado
        from demanda 
        inner join documento_procesado on demanda.id_demanda=documento_procesado.id_demanda
        inner join pagina_procesada on documento_procesado.id_documento_procesado=pagina_procesada.id_documento_procesado
        where documento_procesado.id_cat_tipo_documento=1 '''+ where
    )
    df_db = pd.read_sql(command, engine)
    df_db['texto_procesado'] = df_db['texto_procesado'].apply(lambda x: str(x).replace("\n", " ").replace("\"","'"))
    df_db = df_db.sort_values(by=['cod_demanda','numero_pagina'])
    df_db.drop_duplicates(subset ="numero_pagina", inplace = True)
    df_db.reset_index(drop=True, inplace=True)
    return df_db

In [6]:
test_df = leer_escritura(6,None)
test_df.head(2)

,id_demanda,id_cat_tipo_demanda,cod_demanda,id_documento_procesado,json_datos_fundamentales,enlace_documento,numero_pagina,texto_procesado
0,416,1,6,2874,"{""datoFundamental"":[{""codDatoFundamental"":""df0...",http://cardmin.frion.mx/credito/109/1/d9vvGdHN...,1,"; došcientos dos metros cuadrados, cuarenta y ..."
1,416,1,6,2874,"{""datoFundamental"":[{""codDatoFundamental"":""df0...",http://cardmin.frion.mx/credito/109/1/d9vvGdHN...,2,GLORIA MICHED LIC. GLORIA YICHEO LÓPEZ NOTARIA...

In [7]:
def leer_datos_encontrados_escritura(cod_demanda, num_credito):
    return json.loads(leer_escritura(cod_demanda,num_credito).iloc[0]["json_datos_fundamentales"])

### Datos fundamentales

In [8]:
def get_dato_fundamental(cod_dato_fundamental, activo=None):
    if activo==None:
        if cod_dato_fundamental != None:
            df_db = pd.read_sql("""
                Select *
                from  cat_dato_fundamental 
                where cod_dato_fundamental='"""+cod_dato_fundamental+"""'
                """
            , engine)
        else:
            df_db = pd.read_sql("""
                Select *
                from  cat_dato_fundamental
                """
            , engine)
    else:
        if cod_dato_fundamental != None:
            df_db = pd.read_sql("""
                Select *
                from  cat_dato_fundamental 
                where activo=1 and cod_dato_fundamental='"""+cod_dato_fundamental+"""'
                """
            , engine)
        else:
            df_db = pd.read_sql("""
                Select *
                from  cat_dato_fundamental
                where activo=1
                """
            , engine)
    return (df_db)

In [9]:
get_dato_fundamental(None, activo=True).head(1)

,id_cat_dato_fundamental,cod_dato_fundamental,des_dato_fundamental,id_cat_formato,columna_reporte,activo,prioridad,editable,modelo_ner,entidad,servicio_npl,requerido,actualizar,campo_dato_relevante,obligatorio_envio_cliente,origen_entidad
0,97,fd097,ESTADO,1,None,1,None,1,ner-certificado,ESTADO,False,True,False,estado,True,None

### Tipo demanda dato fundamental

In [10]:
def get_demanda_dato_fundamental(id_cat_tipo_demanda):
    df_db = pd.read_sql('''
        Select id_cat_dato_fundamental
        from tipo_demanda_dato_fundamental 
        where id_cat_tipo_demanda=\''''+str(id_cat_tipo_demanda)+'\''
    , engine)
    return (df_db)

In [11]:
get_demanda_dato_fundamental(1).head(2)

   id_cat_dato_fundamental
0                        1
1                        2

### Tabla de entidades activas y que deben estar

In [12]:
def get_tabla_entidades(id_cat_tipo_demanda, activo=True, modelo_ner="ner-escritura"):
    df1 = get_dato_fundamental(None, activo=activo)[["id_cat_dato_fundamental", "cod_dato_fundamental","entidad", "des_dato_fundamental","modelo_ner"]]
    df2 = get_demanda_dato_fundamental(id_cat_tipo_demanda)
    df3 = df2.merge(df1, on='id_cat_dato_fundamental')
    df3.sort_values(by=['des_dato_fundamental'], inplace=True)
    df4 = df3[df3["modelo_ner"]==modelo_ner].drop(columns=["modelo_ner"])
    return df4

In [13]:
get_tabla_entidades(3).head(2)

,id_cat_dato_fundamental,cod_dato_fundamental,entidad,des_dato_fundamental
68,106,df106,CIUDAD_INMUEBLE,CIUDAD DEL INMUEBLE
39,41,df041,CLAUSULA_ACTUALIZACION_CREDITO,CLAUSULA DE ACTUALIZACIÓ DEL CRÉDITO

### Comprobar datos escritura

In [14]:
def get_valor_encontrado(json_datos_encontrados, cod_dato_fundamental):
    for dato_fundamental in json_datos_encontrados["datoFundamental"]:
        if dato_fundamental["codDatoFundamental"] == cod_dato_fundamental:
            return dato_fundamental["valor"]
        
def get_pagina_valor_encontrado(json_datos_encontrados, cod_dato_fundamental):
    for dato_fundamental in json_datos_encontrados["datoFundamental"]:
        if dato_fundamental["codDatoFundamental"] == cod_dato_fundamental:
            return dato_fundamental["numPaginaDocumento"]

In [15]:
df = leer_escritura(None,809035316)

In [16]:
id_cat_tipo_demanda = df.iloc[0]["id_cat_tipo_demanda"]

In [17]:
json_datos_encontrados = json.loads(df.iloc[0]["json_datos_fundamentales"])

In [18]:
tabla_entidades = get_tabla_entidades(id_cat_tipo_demanda)

In [19]:
tabla_entidades.head(1)

,id_cat_dato_fundamental,cod_dato_fundamental,entidad,des_dato_fundamental
90,106,df106,CIUDAD_INMUEBLE,CIUDAD DEL INMUEBLE

In [20]:
def deleteNan(x, returnString):
    try:
        int(x)
        if returnString:
            return str(x)
        else:
            return int(x)
    except:
        if returnString:
            return ""
        else:
            return 0

tabla_entidades["valor_encontrado"] = tabla_entidades["cod_dato_fundamental"].apply(lambda x: get_valor_encontrado(json_datos_encontrados, x))
tabla_entidades["pagina_encontrado"] = tabla_entidades["cod_dato_fundamental"].apply(lambda x: get_pagina_valor_encontrado(json_datos_encontrados, x))
tabla_entidades["pagina_encontrado"] = tabla_entidades["pagina_encontrado"].apply(lambda x: deleteNan(x, False))

In [21]:
df_empty = pd.read_sql("""
        Select id_cat_dato_fundamental
        from grupo_entidades 
        where grupo_entidad='EMPTY'
        """
    , engine)

In [22]:
df_empty

    id_cat_dato_fundamental
0                        52
1                        45
2                        51
3                       125
4                        94
5                        92
6                        93
7                        95
8                       122
9                       123
10                        4

In [23]:
tabla_entidades2=tabla_entidades.copy()
tabla_entidades2=tabla_entidades2[~tabla_entidades2.id_cat_dato_fundamental.isin(list(df_empty["id_cat_dato_fundamental"]))]
tabla_entidades2=tabla_entidades2[~tabla_entidades2.entidad.isin(["PORCENTAJE_REA", "COLINDANCIAS_10", "COLINDANCIAS_11", "COLINDANCIAS_12", "COLINDANCIAS_5", "COLINDANCIAS_6", "COLINDANCIAS_7", "COLINDANCIAS_8", "COLINDANCIAS_9"])]

In [24]:
tabla_entidades2.head(2)

,id_cat_dato_fundamental,cod_dato_fundamental,entidad,des_dato_fundamental,valor_encontrado,pagina_encontrado
90,106,df106,CIUDAD_INMUEBLE,CIUDAD DEL INMUEBLE,,55
39,41,df041,CLAUSULA_ACTUALIZACION_CREDITO,CLAUSULA DE ACTUALIZACIÓ DEL CRÉDITO,DECIMA PRIMERA,41

In [25]:
def get_entidades_vacias(df, columna="valor_encontrado", espacio=True, vacia=True):
    df_ = pd.DataFrame()
    if espacio:
        df_ = df_.append(df[df[columna] == " "])
    if vacia:
        df_ = df_.append(df[df[columna] == ""])
    return df_

In [26]:
tabla_entidades_vacias = get_entidades_vacias(tabla_entidades2)
tabla_entidades_vacias

,id_cat_dato_fundamental,cod_dato_fundamental,entidad,des_dato_fundamental,valor_encontrado,pagina_encontrado
90,106,df106,CIUDAD_INMUEBLE,CIUDAD DEL INMUEBLE,,55
34,36,df036,REA_VSM,REA EN VSM,,47
75,82,df082,PORCENTAJE_ROA,ROA % (CONYUGE),,38
32,34,df034,ROA_VSM,ROA EN VSM,,47
72,75,df075,CREDITO_PESOS,CRÉDITO OTORGADO EN PESOS (CONYUGE),,0
51,54,df054,FOLIO_REAL,DATO DE REGISTRO O FOLIO REAL (COMPRAVENTA),,0
50,53,df053,DISTRITO_RPP,DISTRITO DEL RPP,,0
52,55,df055,FECHA_FOLIO_REAL,FECHA DATO DE REGISTRO O FOLIO REAL (COMPRAVE...,,0
77,85,df085,REA_VSM,REA EN VSM (CONYUGE),,0
74,79,df079,TASA_INTERES_MORATORIO,TASA DE INTERÉS MORATORIO (CONYUGE),,0

In [27]:
print(f"Cantidad de entidades a encontrar: {len(tabla_entidades2)}")

Cantidad de entidades a encontrar: 47

## print(f"Cantidad de entidades vacías: {len(tabla_entidades_vacias)}")

In [29]:
print(f"Porcentaje de entidades encontradas: {(len(tabla_entidades2)-len(tabla_entidades_vacias))/len(tabla_entidades2)}")

Porcentaje de entidades encontradas: 0.7872340425531915

In [30]:
results = pd.read_excel("results_1.xlsx")
print(results.shape)
results.head(2)

(55, 7)

,CREDITO,ENTIDAD,Dato,Problema,Dato r,DATO REAL,PAGINA
0,809035316,CIUDAD DEL INMUEBLE,,No encontré el avalúo,,,NaN
1,809035316,CLAUSULA DE ACTUALIZACIÓ DEL CRÉDITO,DECIMA PRIMERA,Ok,NaN,DECIMA PRIMERA,41.0

In [31]:
tabla_entidades3 = tabla_entidades2.copy()

In [32]:
tabla_entidades3["valor_real"] = ""
tabla_entidades3["pagina_real"] = ""
tabla_entidades3.reset_index(inplace=True,drop=True)
tabla_entidades3.head(2)

,id_cat_dato_fundamental,cod_dato_fundamental,entidad,des_dato_fundamental,valor_encontrado,pagina_encontrado,valor_real,pagina_real
0,106,df106,CIUDAD_INMUEBLE,CIUDAD DEL INMUEBLE,,55,,
1,41,df041,CLAUSULA_ACTUALIZACION_CREDITO,CLAUSULA DE ACTUALIZACIÓ DEL CRÉDITO,DECIMA PRIMERA,41,,

In [33]:
for index, row in tabla_entidades3.iterrows():
    x = row['des_dato_fundamental']
    value = str(results[results["ENTIDAD"] == x]["DATO REAL"].iloc[0]) if len(results[results["ENTIDAD"] == x])>0 else ""
    tabla_entidades3.at[index,'valor_real'] = value.upper()


for index, row in tabla_entidades3.iterrows():
    x = row['des_dato_fundamental']
    value = str(results[results["ENTIDAD"] == x]["PAGINA"].iloc[0]) if len(results[results["ENTIDAD"] == x])>0 else ""
    #tabla_entidades3.at[index,'pagina_real'] = int(value)
    try:
        tabla_entidades3.at[index,'pagina_real'] = int(float(value))
    except:
        tabla_entidades3.at[index,'pagina_real'] = -1

In [34]:
tabla_entidades3.head(2)

,id_cat_dato_fundamental,cod_dato_fundamental,entidad,des_dato_fundamental,valor_encontrado,pagina_encontrado,valor_real,pagina_real
0,106,df106,CIUDAD_INMUEBLE,CIUDAD DEL INMUEBLE,,55,,-1
1,41,df041,CLAUSULA_ACTUALIZACION_CREDITO,CLAUSULA DE ACTUALIZACIÓ DEL CRÉDITO,DECIMA PRIMERA,41,DECIMA PRIMERA,41

In [35]:
tabla_entidades3["texto_es_correcto"] = False
tabla_entidades3["pagina_es_correcta"] = False
tabla_entidades3.head(2)

,id_cat_dato_fundamental,cod_dato_fundamental,entidad,des_dato_fundamental,valor_encontrado,pagina_encontrado,valor_real,pagina_real,texto_es_correcto,pagina_es_correcta
0,106,df106,CIUDAD_INMUEBLE,CIUDAD DEL INMUEBLE,,55,,-1,False,False
1,41,df041,CLAUSULA_ACTUALIZACION_CREDITO,CLAUSULA DE ACTUALIZACIÓ DEL CRÉDITO,DECIMA PRIMERA,41,DECIMA PRIMERA,41,False,False

In [40]:
for index, row in tabla_entidades3.iterrows():
    if str(row['valor_encontrado']) == str(row['valor_real']):
        if str(row['valor_real']).rstrip() != "":
            tabla_entidades3.at[index,'texto_es_correcto'] = True
            
for index, row in tabla_entidades3.iterrows():
    if (row['pagina_encontrado'] == row['pagina_real']):
        tabla_entidades3.at[index,'pagina_es_correcta'] = True
    elif (row['pagina_encontrado'] == row['pagina_real']-1) and (row["texto_es_correcto"] == True):
        tabla_entidades3.at[index,'pagina_es_correcta'] = True
            
tabla_entidades3

,id_cat_dato_fundamental,cod_dato_fundamental,entidad,des_dato_fundamental,valor_encontrado,pagina_encontrado,valor_real,pagina_real,texto_es_correcto,pagina_es_correcta
0,106,df106,CIUDAD_INMUEBLE,CIUDAD DEL INMUEBLE,,55,,-1,False,False
1,41,df041,CLAUSULA_ACTUALIZACION_CREDITO,CLAUSULA DE ACTUALIZACIÓ DEL CRÉDITO,DECIMA PRIMERA,41,DECIMA PRIMERA,41,True,True
2,46,df046,CLAUSULA_CONSTITUCION_HIPOTECA,CLAUSULA DE CONSTITUCIÓN DE HIPOTECA,SEGUNDA,10,SEGUNDA,10,True,True
3,50,df050,CLAUSULA_JURISDICCION_COMPETENCIA,CLAUSULA DE JURISDICCIÓN Y/O COMPETENCIA,PRIMERA,12,CUARTA,13,False,False
4,43,df043,CLAUSULA_PRORROGA,CLAUSULA DE PRORROGA,DECIMA QUINTA,42,DECIMA QUINTA,42,True,True
5,44,df044,CLAUSULA_VENCIMIENTO_ANTICIPADO,CLAUSULA DE VENCIMIENTO ANTICIPADO,VIGESIMA PRIMERA,44,VIGESIMA PRIMERA,44,True,True
6,29,df029,CLAUSULA_INT_ORD,CLAUSULA INT ORD,DECIMA,41,DECIMA,41,True,True
7,40,df040,CLAUSULA_PLAZO,CLAÚSULA DE PLAZO,OCTAVA,40,OCTAVA,40,True,True
8,26,df026,CREDITO_PESOS,CRÉDITO OTORGADO EN PESOS,"$427,499 89 CUATROCIENTOS VEINTISIETE MI. CUAT...",47,"$427,499 89 CUATROCIENTOS VEINTISIETE MI. CUAT...",47,True,True
9,75,df075,CREDITO_PESOS,CRÉDITO OTORGADO EN PESOS (CONYUGE),,0,,-1,False,False
10,54,df054,FOLIO_REAL,DATO DE REGISTRO O FOLIO REAL (COMPRAVENTA),,0,0,-1,False,False
11,105,df105,DESCRIPCION_INMUEBLE,DESCRIPCION DEL INMUEBLE,"LOTE 9 NUEVE, DE LA MANZANA 57 CINCUENTA Y SIETE",4,"LOTE 9 NUEVE, DE LA MANZANA 57 CINCUENTA Y SIETE",4,True,True
12,53,df053,DISTRITO_RPP,DISTRITO DEL RPP,,0,0,-1,False,False
13,48,df048,DOMICILIO_GARANTIA,DOMICILIO GARANTIA,LEYVA NOTARIO PUBLICO NUMERO UNO DISTRITO JUDI...,12,CASA\nHABITACIÓN MARCADA COR EL NÚMERO 714 SET...,4,False,False
14,107,df107,ESTADO_INMUEBLE,ESTADO DEL INMUEBLE,M.N.,55,0,-1,False,False
15,55,df055,FECHA_FOLIO_REAL,FECHA DATO DE REGISTRO O FOLIO REAL (COMPRAVE...,,0,,-1,False,False
16,21,df021,FECHA_ESCRITURA,FECHA DE ESCRITURA,2 DOS DIAS DEL MES DE ABRIL CEL AÑO 2009 DOS M...,4,2 DOS DIAS DEL MES DE ABRIL CEL AÑO 2009 DOS M...,4,True,True
17,23,df023,JURISDICCION_NOTARIO,JURISDICCION DEL NOTARIO,"SANTA AOSALIA DE CAMARGO, MURICIPO DE CAMARGO",4,"SANTA AOSALIA DE CAMARGO, MURICIPO DE CAMARGO",4,True,True
18,49,df049,JURISDICCION_SOMETIMIENTO_EXPRESO,JURISDICCIÓN (SOMETIMIENTO EXPRESO),CLAUSULAS QUE APARECEN,12,DISTRITO FEDERA A A LA DE LOS\nTRIBUNALES COMP...,13,False,False
19,109,df109,COLINDANCIAS_1,MEDIDAS Y COLINDANCIAS 1,"AL NORTE, SE MIDEN 20.00 VEINTE METROS Y LINDA...",4,"AL NORTE, SE MIDEN 20.00 VEINTE METROS Y LINDA...",4,True,True
20,110,df110,COLINDANCIAS_2,MEDIDAS Y COLINDANCIAS 2,"AL SUR, SE MIDEN 20.00 VEINTE METROS. Y LINDA ...",4,"AL SUR, SE MIDEN 20.00 VEINTE METROS. Y LINDA ...",4,True,True
21,111,df111,COLINDANCIAS_3,MEDIDAS Y COLINDANCIAS 3,"AL ESTE, SE MIDEN 7.00 SIETE METROS, Y LINDA C...",4,"AL ESTE, SE MIDEN 7.00 SIETE METROS, Y LINDA C...",4,True,True
22,112,df112,COLINDANCIAS_4,MEDIDAS Y COLINDANCIAS 4,"AL OESTE, SE MIDEN 7.00 SIETE METROS, Y LINDA ...",4,"AL OESTE, SE MIDEN 7.00 SIETE METROS, Y LINDA ...",4,True,True
23,39,df039,MENSUALIDADES_CUBRIR,MENSUALIDADES A CUBRIR,350 (TRESCLENTAS SESENTAI,40,350 (TRESCLENTAS SESENTAI,40,True,True
24,24,df024,NOTARIO,NOTARIO,CARLOS JAVIER ESPINOZA LEYVA,4,CARLOS JAVIER ESPINOZA LEYVA,4,True,True
25,35,df035,NUM_ CLAUSULA_DESCUENTO_SALARIO_REA,NUMERO DE CLAUSULA DE DESCUENTO DEL SALARIO REA,NOVENA,40,NOVENA,40,True,True
26,32,df032,NUM_ CLAUSULA_DESCUENTO_SALARIO_ROA,NUMERO DE CLAUSULA DE DESCUENTO DEL SALARIO ROA,NOVENA,40,NOVENA,40,True,True
27,31,df031,NUM_CLAUSULA_INTERES_MORATORIO,NUMERO DE CLAUSULA DONDE SE FIJA EL I M,SEGUNDA,37,CÉCIMA SEGUNDA,41,False,False
28,20,df020,NUM_ESCRITURA,NÚM. ESCRITURA DE CONTRATO DE APERTURA DE CRE...,3326 TRES MIL TRESCIENTOS VEINTISEIS,4,,-1,False,False
29,27,df027,NUM_CLAUSULA_OTORGAMIENTO_CREDITO,NÚM. DE CLAUSULA DE OTORGAMIENTO DE CRÉDITO,PRIMERA,9,PRIMERA,9,True,True
30,22,df022,NUM_NOTARIO,NÚM. DE NOTARIO,UNO,4,UNO,4,True,True
31,38,df038,PLAZO_ANIOS,PLAZO (AÑOS),30 (TREINTA) AÑOS,40,30 (TREINTA) AÑOS,40,True,True
32,36,df036,REA_VSM,REA EN VSM,,47,7.6111,47,False,True
33,85,df085,REA_VSM,REA EN VSM (CONYUGE),,0,,-1,False,False
34,33,df033,PORCENTAJE_ROA,ROA %,20% (VEINTE POR CIENTC),40,20% (VEINTE POR CIENTC),40,True,True
35,82,df082,PORCENTAJE_ROA,ROA % (CONYUGE),,38,,-1,False,False
36,34,df034,ROA_VSM,ROA EN VSM,,47,2.176,47,False,True
37,83,df083,ROA_VSM,ROA EN VSM (CONYUGE),61 ICINCUENTA Y UNC) DE LA MISMA,41,,-1,False,False
38,115,df115,SUPERFICIE_CONSTRUCCION,SUPERFICIE DE CONSTRUCCION,140.00 CIENTO CUARENTA METROS CUADRADOS,4,140.00 CIENTO CUARENTA METROS CUADRADOS,4,True,True
39,108,df108,SUPERFICIE_TERRENO,SUPERFICIE DE TERRENO,140.00 CIENTO CUARENTA METROS CUADRADOS,4,140.00 CIENTO CUARENTA METROS CUADRADOS,4,True,True
40,30,df030,TASA_INTERES_MORATORIO,TASA DE INTERÉS MORATORIO,13.7%,47,9.0 %,47,False,True
41,79,df079,TASA_INTERES_MORATORIO,TASA DE INTERÉS MORATORIO (CONYUGE),,0,,-1,False,False
42,28,df028,TASA_INTERES_ORDINARIO,TASA DE INTERÉS ORDINARIO,9.5%,47,9.5%,47,True,True
43,77,df077,TASA_INTERES_ORDINARIO,TASA DE INTERÉS ORDINARIO (CONYUGE),6. OLAN 24,39,,-1,False,False
44,42,df042,TEXTO_ACTUALIZACION,TEXTO DE ACTUALIZACIÓN,EL TRABAJADOR ACEPTA EN ESTE ACTO QUE AL SA DA...,41,EL TRABAJADOR ACEPTA EN ESTE ACTO QUE AL SA DA...,41,True,True
45,47,df047,TEXTO_CLAUSULA_HIPOTECA,TEXTO DE CLAUSULA DE HIPOTECA,EL TRABAJADOR Y SU CONYUCE MARICELA SUAREZ HER...,10,EL TRABAJADOR Y SU CONYUCE MARICELA SUAREZ HER...,10,True,True
46,104,df104,TIPO_INMUEBLE,TIPO DE INMUEBLE,FINCA URBANA,55,FINCA URBANA,55,True,True

In [46]:
def value_result_counts(df, column):
    print("Value counts")
    print(df[column].value_counts())
    true = 0 
    false = 0
    for index, row in tabla_entidades3.iterrows():
        if (row['valor_real'] != "" and row['valor_real'] != "0"):
            if row[column]:
                true = true + 1
            else:
                false = false + 1
    print("*"*10)
    print("Eliminando entidades no encontradas en el excel de resultados:")
    print("True", true)
    print("False", false)

In [47]:
value_result_counts(tabla_entidades3, "texto_es_correcto")

Value counts
True     28
False    19
Name: texto_es_correcto, dtype: int64
**********
Eliminando entidades no encontradas en el excel de resultados:
True 28
False 13

In [49]:
value_result_counts(tabla_entidades3, "pagina_es_correcta")

Value counts
True     31
False    16
Name: pagina_es_correcta, dtype: int64
**********
Eliminando entidades no encontradas en el excel de resultados:
True 31
False 10

In [39]:
tabla_entidades3[tabla_entidades3["texto_es_correcto"]==False]

,id_cat_dato_fundamental,cod_dato_fundamental,entidad,des_dato_fundamental,valor_encontrado,pagina_encontrado,valor_real,pagina_real,texto_es_correcto,pagina_es_correcta
0,106,df106,CIUDAD_INMUEBLE,CIUDAD DEL INMUEBLE,,55,,-1,False,False
3,50,df050,CLAUSULA_JURISDICCION_COMPETENCIA,CLAUSULA DE JURISDICCIÓN Y/O COMPETENCIA,PRIMERA,12,CUARTA,13,False,False
9,75,df075,CREDITO_PESOS,CRÉDITO OTORGADO EN PESOS (CONYUGE),,0,,-1,False,False
10,54,df054,FOLIO_REAL,DATO DE REGISTRO O FOLIO REAL (COMPRAVENTA),,0,0,-1,False,False
12,53,df053,DISTRITO_RPP,DISTRITO DEL RPP,,0,0,-1,False,False
13,48,df048,DOMICILIO_GARANTIA,DOMICILIO GARANTIA,LEYVA NOTARIO PUBLICO NUMERO UNO DISTRITO JUDI...,12,CASA\nHABITACIÓN MARCADA COR EL NÚMERO 714 SET...,4,False,False
14,107,df107,ESTADO_INMUEBLE,ESTADO DEL INMUEBLE,M.N.,55,0,-1,False,False
15,55,df055,FECHA_FOLIO_REAL,FECHA DATO DE REGISTRO O FOLIO REAL (COMPRAVE...,,0,,-1,False,False
18,49,df049,JURISDICCION_SOMETIMIENTO_EXPRESO,JURISDICCIÓN (SOMETIMIENTO EXPRESO),CLAUSULAS QUE APARECEN,12,DISTRITO FEDERA A A LA DE LOS\nTRIBUNALES COMP...,13,False,False
27,31,df031,NUM_CLAUSULA_INTERES_MORATORIO,NUMERO DE CLAUSULA DONDE SE FIJA EL I M,SEGUNDA,37,CÉCIMA SEGUNDA,41,False,False
28,20,df020,NUM_ESCRITURA,NÚM. ESCRITURA DE CONTRATO DE APERTURA DE CRE...,3326 TRES MIL TRESCIENTOS VEINTISEIS,4,,-1,False,False
32,36,df036,REA_VSM,REA EN VSM,,47,7.6111,47,False,True
33,85,df085,REA_VSM,REA EN VSM (CONYUGE),,0,,-1,False,False
35,82,df082,PORCENTAJE_ROA,ROA % (CONYUGE),,38,,-1,False,False
36,34,df034,ROA_VSM,ROA EN VSM,,47,2.176,47,False,True
37,83,df083,ROA_VSM,ROA EN VSM (CONYUGE),61 ICINCUENTA Y UNC) DE LA MISMA,41,,-1,False,False
40,30,df030,TASA_INTERES_MORATORIO,TASA DE INTERÉS MORATORIO,13.7%,47,9.0 %,47,False,True
41,79,df079,TASA_INTERES_MORATORIO,TASA DE INTERÉS MORATORIO (CONYUGE),,0,,-1,False,False
43,77,df077,TASA_INTERES_ORDINARIO,TASA DE INTERÉS ORDINARIO (CONYUGE),6. OLAN 24,39,,-1,False,False